.treeNodeWrap {
  width: fit-content;
  .treeNode {
    display: flex;
    padding: .35rem;
    align-items: center;
    span {
      user-select: none;
    }
    .explorerIcon {
      height: 1rem;
      margin-right: .5rem;
    }
    .deleteIcon {
      cursor: pointer;
      margin-left: .75rem;
      height: 1rem;
    }
  }
}